<br>
<br>
<h1>Top Ten Meals</h1>
<br>
<br>
<% @top_ten.each do |meal|%>
    <ol>
    <p><%=meal.name%></p>
    <p><%="#{meal.number_of_favorites} favorites!!!"%></p>
    <p><%= link_to "See #{meal.name}", meal_path(meal)%></p><br><br><br><br>
    </ol>
<%end%>