<h1> All Desserts </h1><br><br>

<ul>
<%@desserts.each do |dessert|%>
    <li>
        <%=link_to dessert.name, dessert_path(dessert)%>
    </li>

<%end%>
</ul>


<p class="create">Don't see your favorite bites listed? Create it <%=link_to "here", new_dessert_path%></p>