<h1><%=@dessert.name%></h1><br><br>

<image src="<%=(url_for(@dessert.photo))%>"><br><br>

<%=link_to "recipe", @dessert.recipe, target: :_blank%>

<% if @fav_dessert.dessert_id==@dessert.id%>
    <h1> Yummm This is your Favorite Dessert! </h1><br>
<% else %> 
    <%= render "favorite"%>
<% end%>