<ol>
<% @top_ten.each do |dessert|%>
    <li>
    <%=dessert.name%><br>
    <%="#{dessert.number_of_favorites} favorites!!!"%><br>
    <%= link_to "See #{dessert.name}", dessert_path(dessert)%><br><br><br>
    </li>
<%end%>
</ol>